<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改数据源管理')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-datasource-edit" th:object="${dataSource}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">数据源编码：</label>
                <div class="col-sm-8">
                    <input name="dscode" th:field="*{dscode}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">数据源名称：</label>
                <div class="col-sm-8">
                    <input name="dsname" th:field="*{dsname}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">数据源类型：</label>
                <div class="col-sm-8">
                    <select name="dstype" class="form-control m-b">
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">驱动类全名：</label>
                <div class="col-sm-8">
                    <input name="dsdriver" th:field="*{dsdriver}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">jdbc链接：</label>
                <div class="col-sm-8">
                    <input name="dsurl" th:field="*{dsurl}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">用户名：</label>
                <div class="col-sm-8">
                    <input name="username" th:field="*{username}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">机构编码：</label>
                <div class="col-sm-8">
                    <input name="organCode" th:field="*{organCode}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">工具：</label>
                <div class="col-sm-8">
                    <input name="defaultschema" th:field="*{defaultschema}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">排序：</label>
                <div class="col-sm-8">
                    <input name="showOrder" th:field="*{showOrder}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">创建机构：</label>
                <div class="col-sm-8">
                    <input name="createOrgan" th:field="*{createOrgan}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">创建用户：</label>
                <div class="col-sm-8">
                    <input name="createUser" th:field="*{createUser}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">密码：</label>
                <div class="col-sm-8">
                    <input name="userpwd" th:field="*{userpwd}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">初始化链接大小：</label>
                <div class="col-sm-8">
                    <input name="initialsize" th:field="*{initialsize}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">最小空闲链接：</label>
                <div class="col-sm-8">
                    <input name="minidle" th:field="*{minidle}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">最大空闲链接：</label>
                <div class="col-sm-8">
                    <input name="maxactive" th:field="*{maxactive}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否进行链接遗漏检测：</label>
                <div class="col-sm-8">
                    <input name="removeabandoned" th:field="*{removeabandoned}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">链接活动时间(超过该时间即被回收)：</label>
                <div class="col-sm-8">
                    <input name="removeabandonedtimeout" th:field="*{removeabandonedtimeout}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">最大获取链接时间：</label>
                <div class="col-sm-8">
                    <input name="maxwait" th:field="*{maxwait}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">遗漏检测间隔时间：</label>
                <div class="col-sm-8">
                    <input name="timebetweenevictionrunsmillis" th:field="*{timebetweenevictionrunsmillis}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否缓存游标：</label>
                <div class="col-sm-8">
                    <input name="poolpreparedstatements" th:field="*{poolpreparedstatements}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "metadata/datasource";
        $("#form-datasource-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-datasource-edit').serialize());
            }
        }
    </script>
</body>
</html>