<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="include :: header('修改微信用户分组信息')" />
<th:block th:include="include :: datetimepicker-css" />
<th:block th:include="include :: select2-css" />
<th:block th:include="include :: bootstrap-select-css" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-group-edit"
			th:object="${wxUserGroup}">
			<input name="id" th:field="*{id}" type="hidden">

			<div class="form-group">
				<label class="col-sm-3 control-label">接收人：</label>
				<div class="col-sm-8">
					<select class="form-control" id="userCode" style="width: 100%;"
						name="userCode" th:field="*{userCode}" th:with="type=${@qywxdict.getWxUserName('')}"
						required>
						<option th:each="dict : ${type}" th:text="${dict.name}"
							th:value="${dict.account}"></option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">项目组：</label>
				<div class="col-sm-8">
					<select  th:field="*{groupCode}" class="form-control" style="width: 100%;" name="groupCode"
						id="groupCode" th:with="type=${@dict.getType('qywx_dept_team')}">
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
							th:value="${dict.dictValue}" required></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">接收消息：</label>
				<div class="col-sm-8">
					<div class="radio-box" th:each="dict : ${@dict.getType('sys_normal_disable')}">
						<input type="radio" th:id="${dict.dictCode}" name="isMsg" th:value="${dict.dictValue}" th:field="*{status}">
						<label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
					</div>
				</div>
			</div>
			
			
			
			<div class="form-group">
				<label class="col-sm-3 control-label">描述：</label>
				<div class="col-sm-8">
					<textarea name="remarks" class="form-control"></textarea>
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: datetimepicker-js" />
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: datetimepicker-js" />
	<th:block th:include="include :: select2-js" />
	<th:block th:include="include :: bootstrap-select-js" />
	<script type="text/javascript">
		var prefix = ctx + "qywx/group";
		$("#form-group-edit").validate({
			focusCleanup : true
		});

		function submitHandler() {
			if ($.validate.form()) {
				$.operate.save(prefix + "/edit", $('#form-group-edit')
						.serialize());
			}
		}

		$("input[name='loginDate']").datetimepicker({
			format : "yyyy-mm-dd",
			minView : "month",
			autoclose : true
		});

		$("input[name='createDate']").datetimepicker({
			format : "yyyy-mm-dd",
			minView : "month",
			autoclose : true
		});

		$("input[name='updateDate']").datetimepicker({
			format : "yyyy-mm-dd",
			minView : "month",
			autoclose : true
		});
	</script>
</body>
</html>