<!DOCTYPE html>
<html lang="zh">
<head>
<th:block th:include="include :: header('北京科瑞明软件公司')" />
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeIn">
		<body>
			<div class="row">
				<div id="slidershow" class="carousel slide" data-ride="carousel"
					data-interval=2000 data-pause="hover" data-wrap="true">
					<!-- 设置图片轮播的顺序 -->
					<ol class="carousel-indicators">
						<li class="active" data-target="#slidershow" data-slide-to="0"></li>
						<li data-target="#slidershow" data-slide-to="1"></li>
						<li data-target="#slidershow" data-slide-to="2"></li>
						<li data-target="#slidershow" data-slide-to="3"></li>
						<li data-target="#slidershow" data-slide-to="4"></li>
<!-- 						<li data-target="#slidershow" data-slide-to="5"></li> -->
						<li data-target="#slidershow" data-slide-to="6"></li>
						<li data-target="#slidershow" data-slide-to="7"></li>
						<li data-target="#slidershow" data-slide-to="8"></li>
						<li data-target="#slidershow" data-slide-to="9"></li>
						<li data-target="#slidershow" data-slide-to="10"></li>
						<li data-target="#slidershow" data-slide-to="11"></li>
					</ol>
					<!--设置轮播的图片-->
					<div class="carousel-inner">
						<div class="item active">
							<a href="##"><img src="images/01.png" alt="cat1"></a>
						</div>
						<div class="item">
							<a href="##"><img src="images/12.png" alt="cat2"></a>
						</div>
						<div class="item">
							<a href="##"><img src="images/09.png" alt="cat3"></a>
						</div>
						<div class="item ">
							<a href="##"><img src="images/10.png" alt="cat4"></a>
						</div>
<!-- 						<div class="item">
							<a href="##"><img src="images/08.png" alt="cat5"></a>
						</div> -->
						<div class="item">
							<a href="##"><img src="images/02.png" alt="cat6"></a>
						</div>
						<div class="item ">
							<a href="##"><img src="images/03.png" alt="cat7"></a>
						</div>
						<div class="item">
							<a href="##"><img src="images/04.png" alt="cat8"></a>
						</div>
						<div class="item">
							<a href="##"><img src="images/05.png" alt="cat9"></a>
						</div>
						<div class="item ">
							<a href="##"><img src="images/06.png" alt="cat10"></a>
						</div>
						<div class="item">
							<a href="##"><img src="images/07.png" alt="cat11"></a>
						</div>

					</div>
					<a class="left carousel-control" href="#slidershow" role="button"
						data-slide="prev"> <span
						class="glyphicon glyphicon-chevron-left"></span>
					</a> <a class="right carousel-control" href="#slidershow" role="button"
						data-slide="next"> <span
						class="glyphicon glyphicon-chevron-right"></span>
					</a>
				</div>
				<div class="row">

					<div class="col-sm-4">
						<div class="ibox">
							<div class="ibox-content">
								<h3>项目组介绍</h3>
								<ul class="sortable-list connectList agile-list">
									<li class="warning-element">
										<div class="agile-detail">
											<h3>
												<strong>江苏农信项目群</strong>
											</h3>
											<p>
												负责人：汪伟 <br> 简介： <br>
												江苏农信项目群，始建于2016年公司承接的统一监管报送平台项目，先后为行内实施了以下系统：统一监管报送平台门户、1104监管报送子系统、人行统计报送子系统、金标报送子系统、EAST报送子系统、客户风险子系统、内报表分析子系统、电子银行分析平台。
												<br> 涉及技术：<br>
												ETL调度脚本SHELL实现，调试平台使用MOIA,监管报送集市在大数据平台上构建,WAS集群，F5<br>
												项目沉淀： <br>
												大数据平台建设技术方案，大数据架构方案，统一监管报送集市，电子银行统计分析平台，行内报表平台
											</p>

										</div>
									</li>
									<li class="success-element">
										<div class="agile-detail">
											<h3>
												<strong>江西农信项目群</strong>
											</h3>
											<p>
												负责人：许春林<br> 简介：<br>
												经过10多年与江西农信开发合作，公司在江西农信已经实施了近20个规模不等的监管报送接口，并且于2017年实施了统一监管报送集市模型，到目前实现的报送接口如下：<br>
												1、统一监管报送平台 2、1104报送子系统 3、人行统计报子系统 4、客户风险报送子系统 5、人行标准化报送子系统
												6、人行支付结算报送子系统 7、境外银行卡交易子系统 8、个人账户报送子系统 9、人行中债报送子系统
												10、客户投诉报送子系统 11、外管局报送 12、信贷小微报送 13、助农取款报送 14、现金统计报送
												15、人行支付结算合规报送等 <br>涉及技术：<br>
												ETL调度脚本SHELL实现，公司元数据调度管理平台，DB2开发，WAS集群 <br> 项目沉淀：<br>
												统一监管报送集市，元数据调度管理平台，统一监管报送平台与行内门户统一用核心账号
											</p>

										</div>
									</li>
									<li class="danger-element">
										<div class="agile-detail">

											<h3>
												<strong>广东信项目组</strong>
											</h3>
											<p>
												负责人：赵二喜<br> 简介：<br>
												经过10多年与广东农信开发合作，广东农信一直都处于业务发展的最前沿，也是公司部分产品的需求发源地，共投入的项目内容如下：<br>
												1、监管报送数据治理咨询项目 2、1104报送子系统 3、人行统计报子系统 4、客户风险报送子系统
												5、人行标准化报送子系统 6、人行支付结算报送子系统 7、外管局报送子系统 8、反洗钱报送子系统 <br>涉及技术：<br>
												ETL调度脚本SHELL实现，MOIA调度，DB2开发，WAS集群 <br> 项目沉淀：<br>
												监管报送数据质量治理咨询、1104监管报送、人行统计报送、外管局报送
											</p>

										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
		</body>

		<th:block th:include="include :: footer" />
		<script th:src="@{/js/jquery-ui-1.10.4.min.js}"></script>
		<script th:inline="javascript">
			$(document).ready(function() {
				$(".sortable-list").sortable({
					connectWith : ".connectList"
				}).disableSelection()
			});

			/* 通过map带参调用后台的方法Demo
			  function openDemo(){
			      var url1 =  prefix+"/tableDataInfo";
			      var url2 =  prefix+"/queryPageInfo";
			      var url3 =  prefix+"/queryOneEntity";
			      var	data = $('#formId').serialize();
			        var config = {
			            url: url3,
			            type: "post",
			            dataType: "json",
			            data: data,
			            beforeSend: function () {
			            //	$.modal.loading("正在处理中，请稍后...");
			            },
			            success: function(result) {
			            }
			        };
			        $.ajax(config)
			} */
		</script>
</body>
</html>
