<!DOCTYPE html>
<html lang="zh">
<head>
<th:block th:include="include :: header('【日报查询】')" />
<th:block th:include="include :: select2-css" />
<th:block th:include="include :: bootstrap-select-css" />
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeIn">

		<div class="container-div">
			<div class="row">
				<div class="col-sm-12 search-collapse">
					<form id="formId">
						<div class="select-list">
							<ul>

								<li>
									<p>项目组：</p> <select  class="form-control"  name="groupCode"
									th:with="type=${@dict.getType('qywx_dept_team')}">
										<option value="">--全部--</option>
										<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
											th:value="${dict.dictValue}"></option>
								</select>
								</li>

								<li>
									<p>姓名：</p> <input type="text" name="createBy" />
								</li>

								<li class="select-time">
									<p>报告日期：</p> <input type="text" class="time-input"
									id="startTime" placeholder="开始时间" name="beginReportDate" /> <span>-</span>
									<input type="text" class="time-input" id="endTime"
									placeholder="结束时间" name="endReportDate" />
								</li>

								<li>
									<p>提交状态：</p> <select name="reportType"
									th:with="type=${@dict.getType('qywx_report_status')}">
										<option value="">--全部--</option>
										<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
											th:value="${dict.dictValue}"></option>
								</select>
								</li>
								<li><a class="btn btn-primary btn-rounded btn-sm"
									onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
									<a class="btn btn-warning btn-rounded btn-sm"
									onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
								</li>
							</ul>
						</div>
					</form>
				</div>
				<div class="col-sm-12 select-table table-striped">
					<table id="bootstrap-table"></table>
				</div>
			</div>
		</div>

	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: select2-js" />
	<th:block th:include="include :: bootstrap-select-js" />
	<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('qywx:operatelog:edit')}]];
		var prefix = ctx + "qywx/operatelog";
		$(function() {
			var options = {
				url : prefix + "/queryInfoList",
				modalName : "日报内容",
                detailUrl: prefix + "/detail/{id}",                
                detailWindow:{width:500,height:500},				
				columns : [
						{
							checkbox : true
						},
						{
							field : 'id',
							title : '序号',
							visible : false
						},
						{
							field : 'reportDate',
							title : '报告日期'
						},
						{
							field : 'createBy',
							title : '姓名'
						},

						{
							field : 'submitText',
							title : '日报内容',
							formatter : function(value, row, index) {
								return $.table.tooltip(value);
							}
						},
						{
							field : 'reportType',
							title : '提交状态',
							formatter : function(value, row, index) {
								//通过判断单元格的值，来格式化单元格，返回的值即为格式化后包含的元素
								var a = "";
								if (value == "0") {
									var a = '<span style="color:#0000ff">'
											+ '正常提交' + '</span>';
								} else if (value == "1") {
									var a = '<span style="color:#FF0000">'
											+ '补报提交' + '</span>';
								} else if (value == "2") {
									var a = '<span style="color:#00ff00">'
											+ '提交计划' + '</span>';
								} else {
									var a = '<span>' + value + '</span>';
								}
								return a;
							}
						}, {
							field : 'groupCode',
							title : '所在项目组',
							visible : false
						}, {
							field : 'updateTime',
							title : '提交时间'
						}, {
							field : 'operType',
							title : '报告状态',
							visible : false
						},

						{
							field : 'messFromIp',
							title : '消息来源IP',
							visible : false
						}, {
							field : 'messType',
							title : '消息分类',
							visible : false
						}, {
							field : 'remark',
							title : '备注',
							visible : false
						}, {
							field : 'userAccount',
							title : '用户账号',
							visible : false
						},
		                {
		                    title: '操作',		                    
		                    align: 'center',
		                    formatter: function(value, row, index) {
		                        var actions = [];
		                        actions.push('<a class="btn btn-success btn-xs " href="javascript:void(0)" onclick="$.operate.detailOptions(\'' + row.id + '\')"><i class="fa fa-search"></i>详细</a> ');
		                        return actions.join('');
		                    }
		                }]
			};
			$.table.init(options);
		});

		$(document).ready(function() {

	     if(judgeIEType()== false)        return;
			//获取当前用户用户userId
			//以下两行代码调试时注掉
			var urlCode = location.href.split("code=")[1].split('&')[0];
			var userCode = getcookie("userId");

			// console.log("地址ID"+urlCode);
			// console.log("用户ID"+userCode);
			//以下代码调试时打开
			// var userCode = 'Zhaozulong';  //置上默认的用户名
			// var urlCode ='P1iJnyb-09zdfDiAVt6LOAP24DQJOQViJ873bAJIWEQ'; //置上默认的微信传来的参数code=P1iJnyb-09zdfDiAVt6LOAP24DQJOQViJ873bAJIWEQ&state=STATE

			if (userCode == "") {
				$.ajax({
					url : "http://krmsoft.natapp1.cc/qywx/main/wxgetJSSUser",
					data : {
						data : urlCode
					},
					type : "POST",
					success : function(result) {
						console.log(result);
						addcookie("userId", result);
						showTable();//显示table
					},
					error : function(jqXHR, textStatus, errorThrown) {
						console.log(jqXHR);
						console.log(textStatus);
						console.log(errorThrown);
					}
				});
			}
			//        var userCodeLog = getcookie("userId");
			//       console.log(userCodeLog);
		});

		function judgeIEType() {
			var ua = window.navigator.userAgent.toLowerCase();
			if ((ua.match(/MicroMessenger/i) == 'micromessenger')
					&& (ua.match(/wxwork/i) == 'wxwork')) {
				// 企业微信客户端
				return true;
			} else if (ua.match(/micromessenger/i) == 'micromessenger') {
				// 微信客户端
				// window.location.replace('../pages/error.html')
				return true
			} else {
				// 浏览器
				alert("请用企业微信客户端来打开网页！");
				window.location.replace('../error.html')
				return false;
			}
		}
		//存Cookie的值 仅同级文件可用
		function addcookie(name, value, expireHours) {
			var exp = new Date();
			exp.setTime(exp.getTime() + expireHours);
			document.cookie = name + "=" + escape(value) + ";expires="
					+ exp.toGMTString();
		}

		//存Cookie的值 加了cookie作用域 会产生全局有效的cookie
		function ADDcookie(name, value, expireHours) {
			var exp = new Date();
			exp.setTime(exp.getTime() + expireHours);
			document.cookie = name + "=" + escape(value) + ";expires="
					+ exp.toGMTString() + "; path=/";
		}

		function GetCookies(offset) {
			var endstr = document.cookie.indexOf(";", offset);
			if (endstr == -1)
				endstr = document.cookie.length;
			return unescape(document.cookie.substring(offset, endstr));
		}

		//取Cookie的值
		function getcookie(name) {
			var arg = name + "=";
			var alen = arg.length;
			var clen = document.cookie.length;
			var i = 0;
			while (i < clen) {
				var j = i + alen;
				if (document.cookie.substring(i, j) == arg)
					return GetCookies(j);
				i = document.cookie.indexOf(" ", i) + 1;
				if (i == 0)
					break;
			}
			return "";
		}

		/* 通过map带参调用后台的方法Demo
		  function openDemo(){
		      var url1 =  prefix+"/tableDataInfo";
		      var url2 =  prefix+"/queryPageInfo";
		      var url3 =  prefix+"/queryOneEntity";
		      var	data = $('#formId').serialize();
		        var config = {
		            url: url3,
		            type: "post",
		            dataType: "json",
		            data: data,
		            beforeSend: function () {
		            //	$.modal.loading("正在处理中，请稍后...");
		            },
		            success: function(result) {
		            }
		        };
		        $.ajax(config)
		} */
	</script>
</body>
</html>
