<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改员工信息KRM')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-employees-edit" th:object="${krmEmployees}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">序号：</label>
                <div class="col-sm-8">
                    <input name="id" th:field="*{id}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">OA编号：</label>
                <div class="col-sm-8">
                    <input name="oaCode" th:field="*{oaCode}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">入职地：</label>
                <div class="col-sm-8">
                    <textarea name="empBaseAddr" class="form-control">[[*{empBaseAddr}]]</textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">姓名：</label>
                <div class="col-sm-8">
                    <input name="name" th:field="*{name}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">性别：</label>
                <div class="col-sm-8">
                    <input name="gender" th:field="*{gender}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">入职时间：</label>
                <div class="col-sm-8">
                    <input name="empDate" th:field="*{empDate}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">转正日期：</label>
                <div class="col-sm-8">
                    <input name="posiDate" th:field="*{posiDate}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">本司工龄：</label>
                <div class="col-sm-8">
                    <input name="srvLength" th:field="*{srvLength}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">所属部门：</label>
                <div class="col-sm-8">
                    <input name="department" th:field="*{department}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">本司职务：</label>
                <div class="col-sm-8">
                    <input name="duty" th:field="*{duty}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">身份证号：</label>
                <div class="col-sm-8">
                    <input name="idCode" th:field="*{idCode}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">出生年月：</label>
                <div class="col-sm-8">
                    <input name="birDate" th:field="*{birDate}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">年龄：</label>
                <div class="col-sm-8">
                    <input name="age" th:field="*{age}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">联系电话：</label>
                <div class="col-sm-8">
                    <input name="tel" th:field="*{tel}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">QQ号码：</label>
                <div class="col-sm-8">
                    <input name="qq" th:field="*{qq}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">私人邮箱：</label>
                <div class="col-sm-8">
                    <input name="perEmail" th:field="*{perEmail}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">浦发工资卡号：</label>
                <div class="col-sm-8">
                    <input name="salaCard" th:field="*{salaCard}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">社保公积金基数：</label>
                <div class="col-sm-8">
                    <input name="shbGjjLine" th:field="*{shbGjjLine}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">社保基数：</label>
                <div class="col-sm-8">
                    <input name="shbBaseLine" th:field="*{shbBaseLine}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">公积金基数：</label>
                <div class="col-sm-8">
                    <input name="gjjBaseLine" th:field="*{gjjBaseLine}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">社保起始月：</label>
                <div class="col-sm-8">
                    <input name="shbStartMon" th:field="*{shbStartMon}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">公积金起始月：</label>
                <div class="col-sm-8">
                    <input name="gjjStartMon" th:field="*{gjjStartMon}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">缴费人员类别：</label>
                <div class="col-sm-8">
                    <select name="jfType" class="form-control m-b">
                        <option value="">所有</option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">户口所在地-籍贯：</label>
                <div class="col-sm-8">
                    <textarea name="homeAddr" class="form-control">[[*{homeAddr}]]</textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">有效劳动合同期：</label>
                <div class="col-sm-8">
                    <input name="htDate" th:field="*{htDate}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">婚否：</label>
                <div class="col-sm-8">
                    <input name="isMarry" th:field="*{isMarry}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">民族：</label>
                <div class="col-sm-8">
                    <input name="nation" th:field="*{nation}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">毕业院校：</label>
                <div class="col-sm-8">
                    <input name="graduate" th:field="*{graduate}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">学历：</label>
                <div class="col-sm-8">
                    <input name="education" th:field="*{education}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">专业：</label>
                <div class="col-sm-8">
                    <input name="specilialition" th:field="*{specilialition}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">毕业时间：</label>
                <div class="col-sm-8">
                    <input name="graduateTime" th:field="*{graduateTime}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">职称/职业资格：</label>
                <div class="col-sm-8">
                    <input name="workLevel" th:field="*{workLevel}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">现住址：</label>
                <div class="col-sm-8">
                    <input name="nowAddress" th:field="*{nowAddress}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">紧急联系方式：</label>
                <div class="col-sm-8">
                    <input name="emrTel" th:field="*{emrTel}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">公司邮箱：</label>
                <div class="col-sm-8">
                    <input name="comEmail" th:field="*{comEmail}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留：</label>
                <div class="col-sm-8">
                    <input name="resrFld01" th:field="*{resrFld01}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留：</label>
                <div class="col-sm-8">
                    <input name="resrFld02" th:field="*{resrFld02}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留：</label>
                <div class="col-sm-8">
                    <input name="resrFld03" th:field="*{resrFld03}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留：</label>
                <div class="col-sm-8">
                    <input name="resrFld04" th:field="*{resrFld04}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留：</label>
                <div class="col-sm-8">
                    <input name="resrFld05" th:field="*{resrFld05}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留：</label>
                <div class="col-sm-8">
                    <input name="resrFld06" th:field="*{resrFld06}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留：</label>
                <div class="col-sm-8">
                    <input name="resrFld07" th:field="*{resrFld07}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留：</label>
                <div class="col-sm-8">
                    <input name="resrFld08" th:field="*{resrFld08}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留：</label>
                <div class="col-sm-8">
                    <input name="resrFld09" th:field="*{resrFld09}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留：</label>
                <div class="col-sm-8">
                    <input name="resrFld10" th:field="*{resrFld10}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留：</label>
                <div class="col-sm-8">
                    <input name="resrFld11" th:field="*{resrFld11}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留：</label>
                <div class="col-sm-8">
                    <input name="resrFld12" th:field="*{resrFld12}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留：</label>
                <div class="col-sm-8">
                    <input name="resrFld13" th:field="*{resrFld13}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留：</label>
                <div class="col-sm-8">
                    <input name="resrFld14" th:field="*{resrFld14}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预留：</label>
                <div class="col-sm-8">
                    <input name="resrFld15" th:field="*{resrFld15}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "qywx/employees";
        $("#form-employees-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-employees-edit').serialize());
            }
        }
    </script>
</body>
</html>