<nav id="nav" class="nav-primary visible-lg nav-vertical ">
	<ul class="nav " data-spy="affix" data-offset-top="50">
		<li class="logo">${labelTitle!}</li>
		 @menuTree(menuList!);
		<!-- <li class="dropdown-submenu"><a href="#"> 
		    <i class="fa fa-user"></i> 用户管理
			<ul class="dropdown-menu">
				<li><a href="#" id="logout" haschild="" class="J_menuItem">用户退出</a></li>
				<li><a href="userCenter/toEditPasswd" id="pwdUpdate" haschild="" class="J_menuItem">修改密码</a></li>
			</ul>
		</li> -->
	</ul>
</nav>
