<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kmw.metadata.mapper.CdmBhnsstdBhnsallsubjectBhnsallcoderefMapper">
    
    <resultMap type="CdmBhnsstdBhnsallsubjectBhnsallcoderef" id="CdmBhnsstdBhnsallsubjectBhnsallcoderefResult">
        <result property="id"    column="id"    />
        <result property="codeSubject"    column="code_subject"    />
        <result property="codeId"    column="code_id"    />
        <result property="codeStdname"    column="code_stdname"    />
        <result property="codeValue"    column="code_value"    />
        <result property="codeDesc"    column="code_desc"    />
        <result property="codeNote"    column="code_note"    />
    </resultMap>

    <sql id="selectCdmBhnsstdBhnsallsubjectBhnsallcoderefVo">
        select id, code_subject, code_id, code_stdname, code_value, code_desc, code_note from cdm_bhnsstd_bhnsallsubject_bhnsallcoderef
    </sql>

    <select id="selectCdmBhnsstdBhnsallsubjectBhnsallcoderefList" parameterType="CdmBhnsstdBhnsallsubjectBhnsallcoderef" resultMap="CdmBhnsstdBhnsallsubjectBhnsallcoderefResult">
        <include refid="selectCdmBhnsstdBhnsallsubjectBhnsallcoderefVo"/>
        <where>  
            <if test="codeSubject != null  and codeSubject != ''"> and code_subject = #{codeSubject}</if>
            <if test="codeId != null  and codeId != ''"> and code_id = #{codeId}</if>
            <if test="codeStdname != null  and codeStdname != ''"> and code_stdname like concat('%', #{codeStdname}, '%')</if>
            <if test="codeValue != null  and codeValue != ''"> and code_value = #{codeValue}</if>
            <if test="codeDesc != null  and codeDesc != ''"> and code_desc = #{codeDesc}</if>
            <if test="codeNote != null  and codeNote != ''"> and code_note = #{codeNote}</if>
        </where>
    </select>
    
    <select id="selectCdmBhnsstdBhnsallsubjectBhnsallcoderefById" parameterType="Long" resultMap="CdmBhnsstdBhnsallsubjectBhnsallcoderefResult">
        <include refid="selectCdmBhnsstdBhnsallsubjectBhnsallcoderefVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCdmBhnsstdBhnsallsubjectBhnsallcoderef" parameterType="CdmBhnsstdBhnsallsubjectBhnsallcoderef">
        insert into cdm_bhnsstd_bhnsallsubject_bhnsallcoderef
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="codeSubject != null  and codeSubject != ''">code_subject,</if>
            <if test="codeId != null  and codeId != ''">code_id,</if>
            <if test="codeStdname != null  and codeStdname != ''">code_stdname,</if>
            <if test="codeValue != null  and codeValue != ''">code_value,</if>
            <if test="codeDesc != null  and codeDesc != ''">code_desc,</if>
            <if test="codeNote != null  and codeNote != ''">code_note,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="codeSubject != null  and codeSubject != ''">#{codeSubject},</if>
            <if test="codeId != null  and codeId != ''">#{codeId},</if>
            <if test="codeStdname != null  and codeStdname != ''">#{codeStdname},</if>
            <if test="codeValue != null  and codeValue != ''">#{codeValue},</if>
            <if test="codeDesc != null  and codeDesc != ''">#{codeDesc},</if>
            <if test="codeNote != null  and codeNote != ''">#{codeNote},</if>
         </trim>
    </insert>

    <update id="updateCdmBhnsstdBhnsallsubjectBhnsallcoderef" parameterType="CdmBhnsstdBhnsallsubjectBhnsallcoderef">
        update cdm_bhnsstd_bhnsallsubject_bhnsallcoderef
        <trim prefix="SET" suffixOverrides=",">
            <if test="codeSubject != null  and codeSubject != ''">code_subject = #{codeSubject},</if>
            <if test="codeId != null  and codeId != ''">code_id = #{codeId},</if>
            <if test="codeStdname != null  and codeStdname != ''">code_stdname = #{codeStdname},</if>
            <if test="codeValue != null  and codeValue != ''">code_value = #{codeValue},</if>
            <if test="codeDesc != null  and codeDesc != ''">code_desc = #{codeDesc},</if>
            <if test="codeNote != null  and codeNote != ''">code_note = #{codeNote},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCdmBhnsstdBhnsallsubjectBhnsallcoderefById" parameterType="Long">
        delete from cdm_bhnsstd_bhnsallsubject_bhnsallcoderef where id = #{id}
    </delete>

    <delete id="deleteCdmBhnsstdBhnsallsubjectBhnsallcoderefByIds" parameterType="String">
        delete from cdm_bhnsstd_bhnsallsubject_bhnsallcoderef where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>