<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kmw.metadata.mapper.CdmKfpBussdefineMapper">
    
    <resultMap type="CdmKfpBussdefine" id="CdmKfpBussdefineResult">
        <result property="id"    column="id"    />
        <result property="busSubject"    column="bus_subject"    />
        <result property="busLeve1"    column="bus_leve1"    />
        <result property="busLeve2"    column="bus_leve2"    />
        <result property="busLeve3"    column="bus_leve3"    />
        <result property="busCode"    column="bus_code"    />
        <result property="busCnname"    column="bus_cnname"    />
        <result property="busEnname"    column="bus_enname"    />
        <result property="busMean1"    column="bus_mean1"    />
        <result property="busMean2"    column="bus_mean2"    />
        <result property="busMean3"    column="bus_mean3"    />
        <result property="busMean4"    column="bus_mean4"    />
        <result property="busMean5"    column="bus_mean5"    />
        <result property="busFitEnv"    column="bus_fit_env"    />
        <result property="busAccord"    column="bus_accord"    />
        <result property="busUseDept"    column="bus_use_dept"    />
        <result property="busNote"    column="bus_note"    />
    </resultMap>

    <sql id="selectCdmKfpBussdefineVo">
        select id, bus_subject, bus_leve1, bus_leve2, bus_leve3, bus_code, bus_cnname, bus_enname, bus_mean1, bus_mean2, bus_mean3, bus_mean4, bus_mean5, bus_fit_env, bus_accord, bus_use_dept, bus_note from cdm_kfp_bussdefine
    </sql>

    <select id="selectCdmKfpBussdefineList" parameterType="CdmKfpBussdefine" resultMap="CdmKfpBussdefineResult">
        <include refid="selectCdmKfpBussdefineVo"/>
        <where>  
            <if test="busSubject != null  and busSubject != ''"> and bus_subject = #{busSubject}</if>
            <if test="busLeve1 != null  and busLeve1 != ''"> and bus_leve1 = #{busLeve1}</if>
            <if test="busLeve2 != null  and busLeve2 != ''"> and bus_leve2 = #{busLeve2}</if>
            <if test="busLeve3 != null  and busLeve3 != ''"> and bus_leve3 = #{busLeve3}</if>
            <if test="busCode != null  and busCode != ''"> and bus_code = #{busCode}</if>
            <if test="busCnname != null  and busCnname != ''"> and bus_cnname like concat('%', #{busCnname}, '%')</if>
            <if test="busEnname != null  and busEnname != ''"> and bus_enname like concat('%', #{busEnname}, '%')</if>
            <if test="busMean1 != null  and busMean1 != ''"> and bus_mean1 = #{busMean1}</if>
            <if test="busMean2 != null  and busMean2 != ''"> and bus_mean2 = #{busMean2}</if>
            <if test="busMean3 != null  and busMean3 != ''"> and bus_mean3 = #{busMean3}</if>
            <if test="busMean4 != null  and busMean4 != ''"> and bus_mean4 = #{busMean4}</if>
            <if test="busMean5 != null  and busMean5 != ''"> and bus_mean5 = #{busMean5}</if>
            <if test="busFitEnv != null  and busFitEnv != ''"> and bus_fit_env = #{busFitEnv}</if>
            <if test="busAccord != null  and busAccord != ''"> and bus_accord = #{busAccord}</if>
            <if test="busUseDept != null  and busUseDept != ''"> and bus_use_dept = #{busUseDept}</if>
            <if test="busNote != null  and busNote != ''"> and bus_note = #{busNote}</if>
        </where>
    </select>
    
    <select id="selectCdmKfpBussdefineById" parameterType="Long" resultMap="CdmKfpBussdefineResult">
        <include refid="selectCdmKfpBussdefineVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCdmKfpBussdefine" parameterType="CdmKfpBussdefine">
        insert into cdm_kfp_bussdefine
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="busSubject != null  and busSubject != ''">bus_subject,</if>
            <if test="busLeve1 != null  and busLeve1 != ''">bus_leve1,</if>
            <if test="busLeve2 != null  and busLeve2 != ''">bus_leve2,</if>
            <if test="busLeve3 != null  and busLeve3 != ''">bus_leve3,</if>
            <if test="busCode != null  and busCode != ''">bus_code,</if>
            <if test="busCnname != null  and busCnname != ''">bus_cnname,</if>
            <if test="busEnname != null  and busEnname != ''">bus_enname,</if>
            <if test="busMean1 != null  and busMean1 != ''">bus_mean1,</if>
            <if test="busMean2 != null  and busMean2 != ''">bus_mean2,</if>
            <if test="busMean3 != null  and busMean3 != ''">bus_mean3,</if>
            <if test="busMean4 != null  and busMean4 != ''">bus_mean4,</if>
            <if test="busMean5 != null  and busMean5 != ''">bus_mean5,</if>
            <if test="busFitEnv != null  and busFitEnv != ''">bus_fit_env,</if>
            <if test="busAccord != null  and busAccord != ''">bus_accord,</if>
            <if test="busUseDept != null  and busUseDept != ''">bus_use_dept,</if>
            <if test="busNote != null  and busNote != ''">bus_note,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="busSubject != null  and busSubject != ''">#{busSubject},</if>
            <if test="busLeve1 != null  and busLeve1 != ''">#{busLeve1},</if>
            <if test="busLeve2 != null  and busLeve2 != ''">#{busLeve2},</if>
            <if test="busLeve3 != null  and busLeve3 != ''">#{busLeve3},</if>
            <if test="busCode != null  and busCode != ''">#{busCode},</if>
            <if test="busCnname != null  and busCnname != ''">#{busCnname},</if>
            <if test="busEnname != null  and busEnname != ''">#{busEnname},</if>
            <if test="busMean1 != null  and busMean1 != ''">#{busMean1},</if>
            <if test="busMean2 != null  and busMean2 != ''">#{busMean2},</if>
            <if test="busMean3 != null  and busMean3 != ''">#{busMean3},</if>
            <if test="busMean4 != null  and busMean4 != ''">#{busMean4},</if>
            <if test="busMean5 != null  and busMean5 != ''">#{busMean5},</if>
            <if test="busFitEnv != null  and busFitEnv != ''">#{busFitEnv},</if>
            <if test="busAccord != null  and busAccord != ''">#{busAccord},</if>
            <if test="busUseDept != null  and busUseDept != ''">#{busUseDept},</if>
            <if test="busNote != null  and busNote != ''">#{busNote},</if>
         </trim>
    </insert>

    <update id="updateCdmKfpBussdefine" parameterType="CdmKfpBussdefine">
        update cdm_kfp_bussdefine
        <trim prefix="SET" suffixOverrides=",">
            <if test="busSubject != null  and busSubject != ''">bus_subject = #{busSubject},</if>
            <if test="busLeve1 != null  and busLeve1 != ''">bus_leve1 = #{busLeve1},</if>
            <if test="busLeve2 != null  and busLeve2 != ''">bus_leve2 = #{busLeve2},</if>
            <if test="busLeve3 != null  and busLeve3 != ''">bus_leve3 = #{busLeve3},</if>
            <if test="busCode != null  and busCode != ''">bus_code = #{busCode},</if>
            <if test="busCnname != null  and busCnname != ''">bus_cnname = #{busCnname},</if>
            <if test="busEnname != null  and busEnname != ''">bus_enname = #{busEnname},</if>
            <if test="busMean1 != null  and busMean1 != ''">bus_mean1 = #{busMean1},</if>
            <if test="busMean2 != null  and busMean2 != ''">bus_mean2 = #{busMean2},</if>
            <if test="busMean3 != null  and busMean3 != ''">bus_mean3 = #{busMean3},</if>
            <if test="busMean4 != null  and busMean4 != ''">bus_mean4 = #{busMean4},</if>
            <if test="busMean5 != null  and busMean5 != ''">bus_mean5 = #{busMean5},</if>
            <if test="busFitEnv != null  and busFitEnv != ''">bus_fit_env = #{busFitEnv},</if>
            <if test="busAccord != null  and busAccord != ''">bus_accord = #{busAccord},</if>
            <if test="busUseDept != null  and busUseDept != ''">bus_use_dept = #{busUseDept},</if>
            <if test="busNote != null  and busNote != ''">bus_note = #{busNote},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCdmKfpBussdefineById" parameterType="Long">
        delete from cdm_kfp_bussdefine where id = #{id}
    </delete>

    <delete id="deleteCdmKfpBussdefineByIds" parameterType="String">
        delete from cdm_kfp_bussdefine where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>