<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改江苏农信省联社给各法人下发的数据库')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-tablelist-edit" th:object="${cdmJsnxods2instTablelist}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">序号：</label>
                <div class="col-sm-8">
                    <input name="orderSort" th:field="*{orderSort}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">源系统：</label>
                <div class="col-sm-8">
                    <input name="sourceSysname" th:field="*{sourceSysname}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">表英文名：</label>
                <div class="col-sm-8">
                    <input name="tableEnname" th:field="*{tableEnname}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">表中文名：</label>
                <div class="col-sm-8">
                    <input name="tableCnname" th:field="*{tableCnname}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">加载频度：</label>
                <div class="col-sm-8">
                    <input name="loadFrequence" th:field="*{loadFrequence}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">加载方式(全量或增量)：</label>
                <div class="col-sm-8">
                    <input name="loadWay" th:field="*{loadWay}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否拆分：</label>
                <div class="col-sm-8">
                    <input name="loadSplit" th:field="*{loadSplit}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">法人号：</label>
                <div class="col-sm-8">
                    <input name="loadCrtno" th:field="*{loadCrtno}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">源系统中文名称：</label>
                <div class="col-sm-8">
                    <input name="sourceSyscnname" th:field="*{sourceSyscnname}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "metadata/tablelist";
        $("#form-tablelist-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-tablelist-edit').serialize());
            }
        }
    </script>
</body>
</html>