<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改数据标准所有主题码值对照')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-allsubjectcoderef-edit" th:object="${cdmStdAllsubjectcoderef}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">所属主题：</label>
                <div class="col-sm-8">
                    <select name="codeSubject" class="form-control m-b" th:with="type=${@dict.getType('sys_cdm_stdsubject')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{codeSubject}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">代码编号：</label>
                <div class="col-sm-8">
                    <input name="codeId" th:field="*{codeId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">标准名称：</label>
                <div class="col-sm-8">
                    <input name="codeStdname" th:field="*{codeStdname}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">代码英文名称：</label>
                <div class="col-sm-8">
                    <input name="codeStdenname" th:field="*{codeStdenname}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">编码取值：</label>
                <div class="col-sm-8">
                    <input name="codeValue" th:field="*{codeValue}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">编码说明：</label>
                <div class="col-sm-8">
                    <input name="codeDesc" th:field="*{codeDesc}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="codeNote" class="form-control">[[*{codeNote}]]</textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">代码值中文名称：</label>
                <div class="col-sm-8">
                    <input name="codeValueCnname" th:field="*{codeValueCnname}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">编码规则：</label>
                <div class="col-sm-8">
                    <input name="codeRule" th:field="*{codeRule}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">来源依据：</label>
                <div class="col-sm-8">
                    <textarea name="codeAccord" class="form-control">[[*{codeAccord}]]</textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">银行名称：</label>
                <div class="col-sm-8">
                    <input name="bankName" th:field="*{bankName}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "metadata/allsubjectcoderef";
        $("#form-allsubjectcoderef-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-allsubjectcoderef-edit').serialize());
            }
        }
    </script>
</body>
</html>